# Core dependencies
streamlit>=1.35.0
pandas>=2.2.2
numpy>=1.26.4
plotly>=5.20.0
scikit-learn>=1.5.0
nltk>=3.8.1
wordcloud>=1.9.3
seaborn>=0.13.2
matplotlib>=3.8.4
textblob
spacy
# Web scraping
requests>=2.32.0
beautifulsoup4>=4.12.3
aiohttp>=3.9.5
asyncio-throttle>=1.0.2


# Topic Modeling
gensim>=4.3.2
spacy>=3.7.4
pyLDAvis>=3.4.1

# PDF Generation
reportlab>=4.2.0
fpdf2>=2.7.9

# API Integration
python-dotenv>=1.0.1

# Development
black>=24.4.0
pylint>=3.2.0
pytest>=8.2.0